# **<font style="color:purple">Import needed libraries</font>**

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt #visualization
import seaborn as sns #visualization
import plotly.express as px #interactive visualization

In [7]:
#read metadata file into dataframe

metadata_df = pd.read_csv("/kaggle/input/student-success/metadata.csv" ,sep=';')

metadata_df

,Variable Name,Role,Type,Demographic,Description,Units,Missing Values
0,Marital Status,Feature,Integer,Marital Status,1 – single 2 – married 3 – widower 4 – divorce...,NaN,no
1,Application mode,Feature,Integer,NaN,1 - 1st phase - general contingent 2 - Ordinan...,NaN,no
2,Application order,Feature,Integer,NaN,Application order (between 0 - first choice; a...,NaN,no
3,Course,Feature,Integer,NaN,33 - Biofuel Production Technologies 171 - Ani...,NaN,no
4,Daytime/evening attendance,Feature,Integer,NaN,1 – daytime 0 - evening,NaN,no
5,Previous qualification,Feature,Integer,Education Level,1 - Secondary education 2 - Higher education -...,NaN,no
6,Previous qualification (grade),Feature,Continuous,NaN,Grade of previous qualification (between 0 and...,NaN,no
7,Nacionality,Feature,Integer,Nationality,1 - Portuguese; 2 - German; 6 - Spanish; 11 - ...,NaN,no
8,Mother's qualification,Feature,Integer,Education Level,1 - Secondary Education - 12th Year of Schooli...,NaN,no
9,Father's qualification,Feature,Integer,Education Level,1 - Secondary Education - 12th Year of Schooli...,NaN,no
10,Mother's occupation,Feature,Integer,Occupation,0 - Student 1 - Representatives of the Legisla...,NaN,no
11,Father's occupation,Feature,Integer,Occupation,0 - Student 1 - Representatives of the Legisla...,NaN,no
12,Admission grade,Feature,Continuous,NaN,Admission grade (between 0 and 200),NaN,no
13,Displaced,Feature,Integer,NaN,1 – yes 0 – no,NaN,no
14,Educational special needs,Feature,Integer,NaN,1 – yes 0 – no,NaN,no
15,Debtor,Feature,Integer,NaN,1 – yes 0 – no,NaN,no
16,Tuition fees up to date,Feature,Integer,NaN,1 – yes 0 – no,NaN,no
17,Gender,Feature,Integer,Gender,1 – male 0 – female,NaN,no
18,Scholarship holder,Feature,Integer,NaN,1 – yes 0 – no,NaN,no
19,Age at enrollment,Feature,Integer,Age,Age of studend at enrollment,NaN,no
20,International,Feature,Integer,NaN,1 – yes 0 – no,NaN,no
21,Curricular units 1st sem (credited),Feature,Integer,NaN,Number of curricular units credited in the 1st...,NaN,no
22,Curricular units 1st sem (enrolled),Feature,Integer,NaN,Number of curricular units enrolled in the 1st...,NaN,no
23,Curricular units 1st sem (evaluations),Feature,Integer,NaN,Number of evaluations to curricular units in t...,NaN,no
24,Curricular units 1st sem (approved),Feature,Integer,NaN,Number of curricular units approved in the 1st...,NaN,no
25,Curricular units 1st sem (grade),Feature,Integer,NaN,Grade average in the 1st semester (between 0 a...,NaN,no
26,Curricular units 1st sem (without evaluations),Feature,Integer,NaN,Number of curricular units without evalutions ...,NaN,no
27,Curricular units 2nd sem (credited),Feature,Integer,NaN,Number of curricular units credited in the 2nd...,NaN,no
28,Curricular units 2nd sem (enrolled),Feature,Integer,NaN,Number of curricular units enrolled in the 2nd...,NaN,no
29,Curricular units 2nd sem (evaluations),Feature,Integer,NaN,Number of evaluations to curricular units in t...,NaN,no
30,Curricular units 2nd sem (approved),Feature,Integer,NaN,Number of curricular units approved in the 2nd...,NaN,no
31,Curricular units 2nd sem (grade),Feature,Integer,NaN,Grade average in the 2nd semester (between 0 a...,NaN,no
32,Curricular units 2nd sem (without evaluations),Feature,Integer,NaN,Number of curricular units without evalutions ...,NaN,no
33,Unemployment rate,Feature,Continuous,NaN,Unemployment rate (%),NaN,no
34,Inflation rate,Feature,Continuous,NaN,Inflation rate (%),NaN,no
35,GDP,Feature,Continuous,NaN,GDP,NaN,no
36,Target,Target,Categorical,NaN,Target. The problem is formulated as a three c...,NaN,no

In [10]:
#read train file into dataframe

df_train = pd.read_csv("/kaggle/input/student-success/train.csv" ,sep=';')

# Clean up the column names
df_train.columns = df_train.columns.str.replace('"', ' ')  # Remove quotes
df_train.columns = df_train.columns.str.replace('\t', ' ')  # Remove tabs
df_train.columns = df_train.columns.str.strip()  # Remove leading and trailing whitespaces

#retrieve a sample
df_train.sample(10)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
1962,1,1,1,9670,1,1,115.0,1,1,1,...,0,6,6,5,13.800000,0,12.4,0.5,1.79,Graduate
1107,1,1,3,9500,1,1,135.0,1,38,19,...,0,8,9,8,12.445556,0,15.5,2.8,-4.06,Graduate
1349,1,39,1,9085,1,19,133.1,1,19,19,...,0,6,11,6,12.833333,0,8.9,1.4,3.51,Graduate
1261,1,42,1,9119,1,1,130.0,1,19,37,...,2,6,7,2,14.000000,0,13.9,-0.3,0.79,Dropout
1445,1,1,2,9254,1,1,110.0,1,4,19,...,0,5,5,0,0.000000,0,12.7,3.7,-1.70,Dropout
711,1,39,1,9119,1,1,100.0,1,37,37,...,0,5,5,0,0.000000,0,15.5,2.8,-4.06,Dropout
3525,1,44,1,9003,1,39,140.0,1,19,38,...,0,6,9,6,13.500000,0,12.4,0.5,1.79,Graduate
3028,1,39,1,8014,0,1,130.0,1,37,37,...,1,7,7,7,14.000000,0,8.9,1.4,3.51,Graduate
2143,1,1,2,171,1,1,133.1,1,3,1,...,0,0,0,0,0.000000,0,12.7,3.7,-1.70,Graduate
791,1,39,1,9500,1,1,120.0,1,3,3,...,0,7,9,0,0.000000,0,15.5,2.8,-4.06,Dropout

In [11]:
#read test file into dataframe

df_test = pd.read_csv("/kaggle/input/student-success/test.csv" ,sep=';')

# Clean up the column names
df_test.columns = df_test.columns.str.replace('"', ' ')  # Remove quotes
df_test.columns = df_test.columns.str.replace('\t', ' ')  # Remove tabs
df_test.columns = df_test.columns.str.strip()  # Remove leading and trailing whitespaces

#retrieve a sample
df_test.sample(10)

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
134,1,1,1,9070,1,1,144.0,1,1,1,...,0,0,6,8,6,13.000000,0,10.8,1.4,1.74
398,1,1,2,9500,1,1,138.0,1,19,1,...,0,0,8,9,8,15.127778,0,11.1,0.6,2.02
677,1,1,2,9773,1,1,132.0,1,1,2,...,0,0,6,6,6,13.500000,0,9.4,-0.8,-3.12
706,2,43,1,9991,0,1,150.0,1,38,19,...,0,8,13,14,8,11.250000,0,10.8,1.4,1.74
612,1,1,3,9085,1,1,140.0,1,10,19,...,0,0,5,7,4,14.800000,0,7.6,2.6,0.32
58,1,16,4,9773,1,1,109.0,1,37,37,...,0,0,6,8,5,12.800000,0,10.8,1.4,1.74
841,1,1,2,9238,1,1,145.0,1,1,19,...,0,0,5,11,0,0.000000,0,9.4,-0.8,-3.12
563,1,1,2,9147,1,1,125.0,1,1,19,...,0,0,5,11,4,11.750000,0,10.8,1.4,1.74
26,2,43,1,9070,1,2,140.0,1,37,37,...,0,13,18,18,18,14.500000,0,16.2,0.3,-0.92
191,1,51,1,9070,1,1,122.0,1,38,38,...,0,4,12,12,4,13.500000,0,8.9,1.4,3.51

# **<font style="color:purple">Exploratory Data Analysis</font>**
### **<font style="color:purple">Univariate Analysis</font>**
### **<font style="color:purple">Bivariate Analysis</font>**
### **<font style="color:purple">Multi Variate Analysis</font>**

In [ ]:
#corr and chi square
#scatter plot between each feature and target
#Lets implement a scatter plot for each variable to understand the behavior with the target

# fig = plt.figure(figsize=(14, 20))


# Acceptance = df_eval.poutcome
# for i in range(len(df_eval.columns)): 
#     fig.add_subplot(10,5,i+1)
#     sns.scatterplot(x=df_eval.iloc[:,i], y=Acceptance)
    

# plt.tight_layout()
# plt.show()

In [13]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3540 entries, 0 to 3539
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  3540 non-null   int64
 1   Application mode                                3540 non-null   int64
 2   Application order                               3540 non-null   int64
 3   Course                                          3540 non-null   int64
 4   Daytime/evening attendance                      3540 non-null   int64
 5   Previous qualification                          3540 non-null   int64
 6   Previous qualification (grade)                  3540 non-null   float64
 7   Nacionality                                     3540 non-null   int64
 8   Mother's qualification                          3540 non-null   int64
 9   Father's qualification                          3540 non-null   int64
 10  Mother's occupation                             3540 non-null   int64
 11  Father's occupation                             3540 non-null   int64
 12  Admission grade                                 3540 non-null   float64
 13  Displaced                                       3540 non-null   int64
 14  Educational special needs                       3540 non-null   int64
 15  Debtor                                          3540 non-null   int64
 16  Tuition fees up to date                         3540 non-null   int64
 17  Gender                                          3540 non-null   int64
 18  Scholarship holder                              3540 non-null   int64
 19  Age at enrollment                               3540 non-null   int64
 20  International                                   3540 non-null   int64
 21  Curricular units 1st sem (credited)             3540 non-null   int64
 22  Curricular units 1st sem (enrolled)             3540 non-null   int64
 23  Curricular units 1st sem (evaluations)          3540 non-null   int64
 24  Curricular units 1st sem (approved)             3540 non-null   int64
 25  Curricular units 1st sem (grade)                3540 non-null   float64
 26  Curricular units 1st sem (without evaluations)  3540 non-null   int64
 27  Curricular units 2nd sem (credited)             3540 non-null   int64
 28  Curricular units 2nd sem (enrolled)             3540 non-null   int64
 29  Curricular units 2nd sem (evaluations)          3540 non-null   int64
 30  Curricular units 2nd sem (approved)             3540 non-null   int64
 31  Curricular units 2nd sem (grade)                3540 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  3540 non-null   int64
 33  Unemployment rate                               3540 non-null   float64
 34  Inflation rate                                  3540 non-null   float64
 35  GDP                                             3540 non-null   float64
 36  Target                                          3540 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1023.4+ KB

In [14]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Marital status,3540.0,1.173729,0.589576,1.00,1.00,1.000000,1.000000,6.000000
Application mode,3540.0,18.673729,17.488737,1.00,1.00,17.000000,39.000000,57.000000
Application order,3540.0,1.732486,1.317140,0.00,1.00,1.000000,2.000000,9.000000
Course,3540.0,8858.282768,2060.697591,33.00,9085.00,9238.000000,9556.000000,9991.000000
Daytime/evening attendance,3540.0,0.889831,0.313145,0.00,1.00,1.000000,1.000000,1.000000
Previous qualification,3540.0,4.483898,10.101101,1.00,1.00,1.000000,1.000000,43.000000
Previous qualification (grade),3540.0,132.445621,13.232719,95.00,124.00,133.000000,140.000000,190.000000
Nacionality,3540.0,1.853107,6.802913,1.00,1.00,1.000000,1.000000,109.000000
Mother's qualification,3540.0,19.180226,15.567580,1.00,2.00,19.000000,37.000000,43.000000
Father's qualification,3540.0,21.976836,15.402595,1.00,3.00,19.000000,37.000000,43.000000
Mother's occupation,3540.0,10.940960,26.604620,0.00,4.00,5.000000,9.000000,194.000000
Father's occupation,3540.0,11.025141,25.515763,0.00,4.00,7.000000,9.000000,195.000000
Admission grade,3540.0,126.965339,14.719294,95.00,117.80,126.100000,134.700000,190.000000
Displaced,3540.0,0.541808,0.498319,0.00,0.00,1.000000,1.000000,1.000000
Educational special needs,3540.0,0.012429,0.110808,0.00,0.00,0.000000,0.000000,1.000000
Debtor,3540.0,0.111864,0.315244,0.00,0.00,0.000000,0.000000,1.000000
Tuition fees up to date,3540.0,0.882203,0.322413,0.00,1.00,1.000000,1.000000,1.000000
Gender,3540.0,0.348588,0.476590,0.00,0.00,0.000000,1.000000,1.000000
Scholarship holder,3540.0,0.249435,0.432747,0.00,0.00,0.000000,0.000000,1.000000
Age at enrollment,3540.0,23.346610,7.793784,17.00,19.00,20.000000,25.000000,70.000000
International,3540.0,0.024576,0.154852,0.00,0.00,0.000000,0.000000,1.000000
Curricular units 1st sem (credited),3540.0,0.701977,2.331195,0.00,0.00,0.000000,0.000000,20.000000
Curricular units 1st sem (enrolled),3540.0,6.251695,2.456559,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 1st sem (evaluations),3540.0,8.263842,4.188669,0.00,6.00,8.000000,10.000000,45.000000
Curricular units 1st sem (approved),3540.0,4.714407,3.079812,0.00,3.00,5.000000,6.000000,21.000000
Curricular units 1st sem (grade),3540.0,10.611847,4.862142,0.00,11.00,12.285714,13.400000,18.875000
Curricular units 1st sem (without evaluations),3540.0,0.140678,0.698350,0.00,0.00,0.000000,0.000000,12.000000
Curricular units 2nd sem (credited),3540.0,0.531921,1.888933,0.00,0.00,0.000000,0.000000,19.000000
Curricular units 2nd sem (enrolled),3540.0,6.216384,2.172567,0.00,5.00,6.000000,7.000000,23.000000
Curricular units 2nd sem (evaluations),3540.0,7.998023,3.908569,0.00,6.00,8.000000,10.000000,28.000000
Curricular units 2nd sem (approved),3540.0,4.444068,3.009541,0.00,2.00,5.000000,6.000000,20.000000
Curricular units 2nd sem (grade),3540.0,10.218415,5.213759,0.00,10.75,12.200000,13.343125,18.571429
Curricular units 2nd sem (without evaluations),3540.0,0.151977,0.760764,0.00,0.00,0.000000,0.000000,12.000000
Unemployment rate,3540.0,11.607006,2.663956,7.60,9.40,11.100000,13.900000,16.200000
Inflation rate,3540.0,1.210028,1.379466,-0.80,0.30,1.400000,2.600000,3.700000
GDP,3540.0,0.006850,2.268117,-4.06,-1.70,0.320000,1.790000,3.510000

In [16]:
df_train['Target'].value_counts()

Target
Graduate    1786
Dropout     1116
Enrolled     638
Name: count, dtype: int64

In [12]:
# Add visualization from first Notebook

# **<font style="color:purple">Data quality ensuring and Cleaning</font>**

- check for missing values
- check for duplicate values
- check outliers
- handle categorical data
- handle skewness
- data scaling